<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
	<session-factory>
		<!-- Basic Configuration -->
		<property name="connection.url">jdbc:mysql://localhost:3306/college</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.username">j2ee</property>
		<property name="connection.password">j2ee</property>
		<property name="connection.autocommit">true</property> 
		<property name="connection.pool_size">10</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="show_sql">true</property> 
        <property name="format_sql">true</property>
        
        <mapping resource="com/jspiders/hibernate/mappingfiles/students.hbm.xml" />
	</session-factory>
</hibernate-configuration>